h1 {
  font-family: "Overpass", sans-serif;
  color: white;
  font-size: 2.5em;
  text-align: center;
}

form {
  background-color: rgb(47, 39, 59);
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(21, 17, 26);
}

label {
  font-family: "Overpass", sans-serif;
  color: white;
}

label, input {
  display: block;
}

div {
  font-family: "Overpass", sans-serif;
  color: lightpink;
}

.error {
  font-size: 1.5em;
  color: #ea3131;
  background-color: rgb(45, 36, 55);
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  max-width: 600px;
  text-align: center;
}
