@font-face {
  font-family: 'Rubik';
  src: url('../../fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Overpass';
  src: url('../../fonts/Overpass-Regular.ttf') format('truetype');
}

div {
  background-color: rgb(47, 39, 59);
  margin: 20px auto;
  padding: 4px 30px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(21, 17, 26);
}

h2, h3 {
  font-family: "Overpass", sans-serif;
}

h2 {
  color: rgb(201, 200, 246);
  font-size: 2em;
}

h3 {
  color: white;
  font-size: 1.5em;
  background: linear-gradient(rgb(91, 128, 223), rgb(110, 111, 195), rgb(124, 59, 177));
  text-align: center;
}

p {
  font-family: "Rubik";
  color: rgb(160, 156, 185);
}

p:last-of-type {
  color: darkgrey;
}
